[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-testing = "*"
flask-restful = "*"
flask-marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.9"
